.jsontocsv *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.jsontocsv section{
  margin: 12px;
}
.jsontocsv .header h1{
  color: crimson;
  font-size: 45px;
  text-align: center;
  text-transform: capitalize;
}

.jsontocsv .wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 15px;
  height: 50vh;
  math-style: 15px;
}
.jsontocsv section form input{
  margin-bottom: 25px;
}
.jsontocsv  .wrapper .left,
.jsontocsv .right {
  background-color: reds;

  background-color: blue;
}
.jsontocsv .left,
.jsontocsv .right {
  position: relative;
}
.jsontocsv .wrapper .right textarea,
.jsontocsv .left textarea {
  padding: 25px;
  position: absolute;
  height: 91%;
  width: 100%;
  background-color: rgb(214, 223, 231);
  color: #000708;
}
.jsontocsv .convert button {
  display: block;
  padding: 15px;
  background: crimson;
  width: 127px;
  margin: 15px 0;
  border-radius: 5px;
  outline: none;
  /* margin: 0; */
  border: 0;
  cursor: pointer;
}
